.demo-form {
  margin: 50px 20px;
}

.text-input {
}

.upload-button {
}
.form-element {
  margin: 25px 0;
}

.app {
  margin: 0 50px;
}

.header {
  background-color: rgba(180, 180, 180, 0.5);
}

.footer {
  background-color: rgba(180, 180, 180, 0.7);
}

.list {
  list-style-type: none;
}

.results {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin-top: 30px;
  padding: 20px 0;
}

.preview > img {
  max-width: 300px;
  max-height: 300px;
  margin-top: 20px;
}

.error {
  color: red;
}
