body {
  font-family: sans-serif;
  background-color: rgba(233, 235, 238, 0.5);
}

@font-face {
  font-family: 'ansonregular';
  src: url('fonts/anson-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
